@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif
}

body {
    background: rgb(17, 4, 4);
    background: linear-gradient(90deg, rgba(17, 4, 4, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(17, 4, 4, 1) 100%);
    color: white;
}

.cabecalho {
    background-color: rgb(148, 0, 20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

hr {
    width: 100%;
}

.cabecalho nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px;
}

.cabecalho nav li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.cabecalho nav li a:hover {
    color: rgb(26, 12, 12)
}

#banner {
    background-image: url("../img/banner.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 10px;
}

#banner span {
    font-family: 'Castoro Titling', cursive;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
    padding-right: 55px;
}

.filme {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;


}

.filme h1 {
    font-family: 'Bruno Ace', cursive;
    font-size: 40px;


}

.filme img {
    width: 200px;
    border-LEFT: 2px solid blaCK;
    padding-left: 10px;

}

.filme p {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    text-justify: auto;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.filme span {
    font-size: large;
    font-weight: bold;
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.campo {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 10px;
}

.container__form input {
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid red;

}

.container__form input:focus {
    border: 1px solid black
}

.container__form input:invalid {
    background-color: rgb(255, 79, 79);
}

.container__preferencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.campopref {
    display: flex;
}

.radio {
    display: flex;
    gap: 20px;
}

.genero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.check {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.check input {
    border: 1px solid black;
}

.outro {
    display: flex;
    gap: 5px;
}

.outro #outros {
    width: 300px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
}

#textarea {
    display: flex;
    flex-direction: column;
}

#textarea textarea {
    border-radius: 10px;
    border: 1px solid black;
}

.botoes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botoes button {
    padding: 5px;
    background-color:white;
    border: 1px solid black;
    border-radius: 10px;
}

footer {
    background-color: rgb(148, 0, 20);
    display: flex;
    gap: 10px;
    padding: 5px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: white;
}